language: python

python:
  - '3.8'

script:
  - python ./build-repo ./urls ./repo-generated.conf
  - cat ./repo-generated.conf

after_success:
  - git clone https://github.com/pearl-hub/repo-v2.git ${HOME}/repo-v2/
  - cmp --silent ./repo-generated.conf ${HOME}/repo-v2/pearl-config/repo.conf || ./deploy.sh ./repo-generated.conf "https://${GH_TOKEN}@github.com/pearl-hub/repo-v2.git"
