language: python

env:
  global:
    - secure: "huJMSd/MeIcv+3wkhSTXQqGtX3hW4XoGN1BNIv/SuNGzrzFO6ex27xhN8G3tYW/t4g397wuEsgUfCtxCE3UXPKuRAr2sgXuxCglDqjJUhoUxlHqXSABttRjrLsxBPJXjGR3CZ3XTvbo9A49IyvhI1NXHZ5+1ygBRt6NU50fqjfabu/Ttj+fF2aC4HuH3TiXp32PhfMt4e8vzAHojlrAlVyAQWBJbEsl51l314asrSD/I1ozy5koECySckHPKte6xKqHo/vJenN34pOKL78wzQf/8C7yP/k+hfH48Ab7f2v1kYTQxWB6CmIyVAY9r+khlcTYnQrLPqZXPTp4q7PKI7oAQrb+snFytBvI/pVF0gs+uX8wuBTTQdCIVn96sjEkwnFyl1sSaGYvImIuL0okTg4v+v9fH5nk63LrFfU6cVRmBtFJyQkhbO3uAuRTXiGiuJVTyqR2HpFIM1BP9mqFniBd3UhXuIs4TkmktSOMIE+ycrvEJVx5Y8HQyvEAVWTBz2eUg2v84N9mhrdcdzvrlwaa9yNWY7DkrBACREDJa6iOTlISUhKKExF5CB8t9vySrFR4SDoDlXubPH7kHbgPrGLTJq5JRT1pPoOTwQqMNX0o4+K2Z2aHUHjNzT2n9HmaIMkT/SMnBi3Vg2YSza+qoqbaZkIJLeG7wnPuHkQP2sfY="

python:
  - '3.8'

script:
  - python ./build-repo ./urls ./repo-generated.conf
  - cat ./repo-generated.conf

after_success:
  - git clone https://github.com/pearl-hub/repo-v2.git ${HOME}/repo-v2/
  - cmp --silent ./repo-generated.conf ${HOME}/repo-v2/pearl-config/repo.conf || ./deploy.sh ./repo-generated.conf "https://${GH_TOKEN}@github.com/pearl-hub/repo-v2.git"
